<nav ng-include="/views/main.html"></nav>

    <div class="welcome">
        <h2>ABOUT</h2>
        <p>Angelita is the author of hot, passionate contemporary and paranormal romances with wit and high emotion. She loves to give her characters their happily-ever-after, but only after they've earned it. Her secondary characters are just as memorable. Angelita loves to make her worlds richer with those who support (or who plot against!) her hero and heroine. When she's not magnetized to her keyboard, she loves
            reading regency romance and imagining herself in an impossibly fashionable gown dancing with the most handsome rogue at the ball. Preferably with a secret garden so she can start a scandal.
            She's a proud Trekkie, loves true crime documentaries, martinis with sprinkles, volunteering for the arts, learning to cook like the French, and writing letters to her friends all over the globe. Whether you like it dark or light, she hopes you enjoy her stories as much as she loves writing them. Which she will continue to do so, even if there's a zombie apocalypse.
        </p>

    </div>