<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Angelita Gill</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/960_12_col.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
</head>
<body>



    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/bootstrap.min.js"></script>
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/angular-route.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/directives/modal.js"></script>
</body>