<div class="welcome">
    <h2>CONTACT ME</h2>
<form>
  <fieldset class="form-group">
    <label for="exampleInputEmail"><h4>Name: (optional)</h4></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput2"><h4>Email Address:</h4></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email Address">
    <h5 class="emailShared">Your email will never be shared!!</h5>
  </fieldset>
   <fieldset class="form-group">
    <label for="exampleTextarea"><h4>Message:</h4></label>
    <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
  </fieldset>
  <button type="submit" class="btn btn-primary">SEND</button>
</form>
</div>