<div class="welcome">
    <h2>Welcome</h2>
    <p>Thank you for stopping by! I'm Angelita Gill and I'm so pleased you're here. Writing romance is my biggest                                passion in life, and there's nothing more breathtaking to me than getting lost in love.
        :) I invite you to get a little lost in one of my worlds, whether that be contemporary, paranormal, fantasy,                               or all three! <br><br> Join my mailing list to receive news on the latest releases
        and promotions. Your information will NEVER be shared.
    </p>

    <br><a class="sub-btn" href="#">SUBSCRIBE TO MY NEWSLETTER</a><br><br><p>Oh and do join me on Facebook and/or Twitter. I love to                                 hear from my fans and social media provides that easy kind of blessing to keep in touch.</p>

    <br><a class="fcbk" href="#"><img src="images/facebook.png" width="60px" alt="facebook"></a><a href="#"><img width="63px" src="images/twitter.png" width="45px" alt=""></a><br><p>Most of all, THANK YOU for your support in my stories. I'm excited for the upcoming year and can't wait to meet or speak to you at future conferences and book signings!</p>
</div>