<!DOCTYPE html>
<html lang"en" ng-app="app">
    <head>
        <title>Angelita Gill</title>
        <link rel="stylesheet" href="../public/stylesheets/index.css">
        <link rel="stylesheet" href="../public/stylesheets/960_12_col.css">
        <link rel="stylesheet" href="../public/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="wrapper">
            <div class="menu-wrap">
                <nav class="menu">
                    <ul class="clearfix">
                        <li><a href="#" class="left">Home</a></li>
                        <li>
                            <a href="#">Book Series <span class="arrow">&#9660;</span></a>
                            <ol class="sub-menu">
                                <li><a href="#">The Priceless Collection</a></li>
                                <li><a href="#">1NightStand</a></li>
                                <li><a href="#">Paranormal & Fantasy</a></li>
                                <li><a href="#">Contemporary</a></li>
                                <li><a href="#">Holidays</a></li>
                            </ol>
                        </li>
                        <li><a href="#">About</a></li>
                        <li class=""><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <header class="container_12 banner">
                <div>
                    <img class="profile"src="../public/images/Profile.png" alt="profile pic">
                    <img class="grid_6 signature" src="../public/images/agbanner.png" alt="">
                </div>
            </header>

            <div class="container_12 main main-content">
                    <div class="welcome">
                        <h2>Welcome</h2>
                            <p>Thank you for stopping by! I'm Angelita Gill and I'm so pleased you're here. Writing romance is my biggest                                passion in life, and there's nothing more breathtaking to me than getting lost in love.
                             :) I invite you to get a little lost in one of my worlds, whether that be contemporary, paranormal, fantasy,                               or all three! <br><br> Join my mailing list to receive news on the latest releases
                             and promotions. Your information will NEVER be shared.
                            </p>

                        <br><a class="sub-btn" href="#">SUBSCRIBE TO MY NEWSLETTER</a><br><br><p>Oh and do join me on Facebook and/or Twitter. I love to                                 hear from my fans and social media provides that easy kind of blessing to keep in touch.</p>

                        <br><a class="fcbk" href="#"><img src="../public/images/facebook.png"width="60px"alt="facebook"></a><a href="#"><img width="63px"src="../public/images/twitter.png" width="45px"alt=""></a><br><p>Most of all, THANK YOU for your support in my stories. I'm excited for the upcoming year and can't wait to meet or speak to you at future conferences and book signings!</p>
                    </div>
                    <div class="main-books">
                        <section class="container_12">
                            <h3>The Priceless Collection</h3>
                                <div class="container_12 grid_10 push_2">
                                    <div class="view third-effect">
                                        <img src="../public/images/0.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/c.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/b.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/d.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/d.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                </div>
                        </section>
                        <section class="container_12">
                            <h3>1NightStand</h3>
                                <div class="container_12 grid_10 push_2">
                                    <div class="view third-effect">
                                        <img src="../public/images/2.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/4.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/5.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/a.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                </div>
                        </section>
                        <section class="container_12">
                            <h3>Paranormal & Fantasy</h3>
                                <div class="container_12 grid_10 push_2">
                                    <div class="view third-effect">
                                        <img src="../public/images/6.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/2.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/5.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/3.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                </div>
                        </section>
                        <section class="container_12">
                            <h3>Contemporary</h3>
                                <div class="container_12 grid_10 push_2">
                                    <div class="view third-effect">
                                        <img src="../public/images/8.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/a.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                </div>
                        </section>
                        <section class="container_12">
                            <h3>Holidays</h3>
                                <div class="container_12 grid_10 push_2">
                                    <div class="view third-effect">
                                        <img src="../public/images/e.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/b.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/d.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/1.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                    <div class="view third-effect">
                                        <img src="../public/images/f.jpg" width="150px"alt="">
                                            <div class="mask" style="width: 200px; height: 225px ">
                                                <a href="#" class="info"></a>
                                            </div>
                                    </div>
                                </div>
                        </section>
                    </div>
            </div>
         <script src="../routes/angular.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
    </body>
</html>