<!DOCTYPE html>
<html>
    <head>
        <title>Angelita Gill</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/960_12_col.css">
        <link rel="stylesheet" href="../public/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="wrapper">
            <div class="menu-wrap">
                <nav class="menu">
                    <ul>
                        <li><a href="#" class="left">Home</a></li>
                        <li>
                            <a href="#">Book Series <span class="arrow">&#9660;</span></a>

                            <ol class="sub-menu">
                                <li><a href="#">The Priceless Collection</a></li>
                                <li><a href="#">Contemporary</a></li>
                                <li><a href="#">Paranormal & Fantasy</a></li>
                            </ol>
                        </li>
                        <li><a href="#">About</a></li>
                        <li class=""><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <header class="container_12 banner">
                <div class="signature">
                    <img src="../public/images/logobitmap.png" alt="Angelita Gill">
                    <p>Author</p>
                    <p>Experience Every Emotion</p>
                </div>
            </header>

            <div class=" main main-content container_12">
                    <div class="grid_12 welcome">
                        <h2>Welcome</h2>
                        <p>Thank you for stopping by! I'm Angelita Gill and I'm so pleased you're here. Writing romance is my biggest passion in life, and there's nothing more breathtaking to me than getting lost in love. :) I invite you to get a little lost in one of my worlds, whether that be contemporary, paranormal, fantasy, or all three!</p></div>
                    </div>
                    <div class="grid_12">
                        <section>
                            <h1>The Priceless Collection</h1>
                            <img class=""src="../public/images/0.jpg" width="150px"alt="">
                            <p class="pu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, odit maiores? Dolores laudantium ipsum vel numquam facere nam ipsa possimus commodi voluptas, officiis illum, id culpa accusamus ipsam. Hic, error!</p>
                        </section>
                        <section>
                            <img src="../public/images/1.jpg" width="150px"alt="">
                            <h1>Contemporary</h1>
                        </section>
                        <section>
                            <h1>Paranormal & Fantasy</h1>
                        </section>
                    </div>

        </div>
    </body>
</html>