body {
    background-color: black;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: 40% 0%;
    background-attachment: fixed;
    max-width: 100%;
}

header p {
    width: 960px;
    margin: 0 auto;
}

/*--------Menu Outline---------*/

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.menu {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.menu ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu li {
    list-style: none;
    font-family: 'Ek Mukta';
    text-decoration: none;
}

.menu a {
    transition: all linear 0.15s;
    color: #F491CB;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration: none;
    color: white;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}

/*--------Navigation--------*/

.menu > ul > li {
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    color: white;
}

/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    visibility: visible;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    visibility: hidden;
    z-index:9999;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: rgb(46, 45, 45);
    margin-top: -2px;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
    text-decoration: none;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;

}

/*--------Banner--------*/

.signature {
    margin-top: 20px;
}

.profile {
    float: left;
    margin-left: 64px;
    height: 200px;
    width: 150px;
    margin-top: 62px;
    z-index: -1;
}

.banner {
    background: rgba(255, 90, 193, 0.4);
    height: 304px;
    margin-top: 100px;
    box-shadow: 5px 5px 20px #888888;
}

.banner p {
    position: absolute;
    width: 897px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2.2em;
    color: white;
    margin-top: 176px;

}

.chand {
    clear: both;
    position: absolute;
    margin-left: 351px;
    margin-top: -216px;
}


/*---------Main Content---------*/

.main-content section h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    margin-bottom: 45px;
}

/*---------Welcome Section-------*/
.welcome {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 3px;
    text-align: center;
}
 .welcome h2 {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 15px;
    color: white;
}
.welcome p {
    font-family: 'Ek Mukta';
    font-size: 20px;
    color: white;
}

.sub-btn {
    font-size: 30px;
    color: #F491CB;
    text-decoration: none;
}


/*----------Book Section----------*/
.main-books {
    padding: 15px;
    text-align: center;
}

.main-books h1:first-child {
    margin-top: 20px;
}

section h3 {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 18px;
    text-shadow: 3px 5px 2px pink;
}

.main-books section {
    margin-bottom: 25px;
}

/*---------------POP UP BOOKS--------------*/

.pop-up-book {
    color: white;
    width: 500px;
    height: 300px;

}

.pop-up-book p {
    float: right;
}

/*------Book Overlay Effect------*/

.view {
   height: 225px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}

.view .mask, .view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
}

.view a.info {
   background:url("../images/link.png") center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.third-effect .mask {
   opacity: 0;
   overflow:visible;
   border:100px solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.third-effect a.info {
   position:relative;
   top:-10px;
   right: 35px; /* Center the link */
   opacity: 0;
   transition: opacity 0.5s 0s ease-in-out;
}

.third-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}

.third-effect:hover a.info {
   opacity:1;
   transition-delay: 0.3s;
}



.fcbk {
    margin-right: 35px;
}

/*----------------MODAL---------------*/

.modalPic {
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 24px;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.75);
}

.modal-inner {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background-color: black;
  margin-top: 50px;
  border-radius: 4px;
  border: 2px solid pink;
  box-shadow: 0 0 25px 10px;
}

.modal-inner-title {
  margin-bottom: 24px;
  font-family: helvetica sans serif;
  color: white;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid black;
}

.modal-inner-img {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px 5px white;
}

.modal-inner img {
  width: 100%;
  margin-bottom: 15px;

}

.modal-inner-desc {
  margin-top: 25px;
  padding: 10px;
  background-color: grey;
  color: white;
  border-radius: 8px;
}

.modal-inner-link {
  width: 35%;
  margin: 0 auto;
}

label h4 {
  display: block;
  color: white;
  float: left;
}

.emailShared {
  color: red;
  font-style: italic;
}










